 a {
  text-decoration: none;
 } 

.block {
  width: 75%;
  margin: auto;
}

.spinner {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: absolute; 
  top: 40%; 
  left: 50%;
}

.loading {
  background-color: grey;
  opacity: 0.1;
}

button {
  width:80px; 
  height: 50px;
}