
    <div class="spinner" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div [ngClass]="isLoading ? 'loading':''">
    <div class="block" *ngIf="table" >
      <div class="d-flex bd-highlight mb-3">
        <h1 class="me-auto p-2 bd-highlight">ALL GIFS</h1>
          <div class="ms-auto p-2 bd-highlight">
            <button class="btn btn-dark my-2" disabled> <strong><mat-icon> table_chart</mat-icon></strong></button>
            <button class="btn btn-dark my-2" (click)="showTableOrCard()"> <strong><mat-icon>class</mat-icon></strong></button>
          </div>
    </div>
      <app-grid [item]="dataSource" class="animate__animated animate__bounce animate__fadeIn"></app-grid>
    </div>

    <div class="block"  *ngIf="cards">
        <div class="d-flex bd-highlight mb-3">
            <h1 class="me-auto p-2 bd-highlight">ALL GIFS</h1>
            <div class="ms-auto p-2 bd-highlight">
                <button class="btn btn-dark my-2" (click)="showTableOrCard()"><mat-icon> table_chart</mat-icon></button>
                <button class="btn btn-dark my-2" disabled><mat-icon>class</mat-icon></button>
            </div>
        </div>
        <div class="d-flex align-content-stretch gap-1 flex-wrap">
        <a *ngFor="let gif of gifs" [routerLink]="['/team', gif.id]" class="col">

          <app-card [item]="gif" class="animate__animated animate__bounce animate__fadeIn"></app-card>

        </a>
        </div>
    </div>
</div>

